.main {
  background-image: linear-gradient(to right, #648880, #293f50);
  width: 98%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: auto;
}

.registration {
  width: 360px;
  height: 300px;
  background-color: #96C6E6;
  display: block;
  border-radius: 8px;
}

.inputfield {
  display: grid;
  align-items: center;
  justify-content: center;
}

.RegTitle {
  font-size: 1.3em;
  text-align: center;
}

.regButton {
  cursor: pointer;
  height: 30px;
  width: 200px;
  border-radius: 13px;
  font-size: 1.05em;
}

.login,
.password,
.confirmPassword {
  font-size: 1.1em;
  height: 30px;
  margin-bottom: 5px;
  border-radius: 5px;
}

.check {
  margin-top: -10px;
  margin-bottom: -15px;
  font-size: 1.2em;
}